<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Emails</title>
		<%= stylesheet_link_tag "application", media: "all" %>
	</head>
	<body>
		<h1>
			<%= @email_id %>
			<br/>
			<%= @email_address %>
			<br/>
			<%= @email_passwd %>

			<br/><br/>
			<% @emails.each do |email| %>
			<h3><%= email.subject %></h3>
			<p><%= email.body %></p>
			<% end %>

			
		</h1>
		<div id="app"></div>
		</body>
</html>
