<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Emails</title>

		<%= javascript_include_tag "funcoes" %>
		
	    <script src='/assets/vendors/jquery.min.js' language='javascript'></script>
	    <script src='/assets/vendors/bootstrap.min.js' language='javascript'></script>

		<%= stylesheet_link_tag "application", media: "all" %>
		<%= stylesheet_link_tag "estilos", media: "all" %>
	</head>
	<body>
		<center>
 
			<%= render "shared/menu" %>
			
			<div id='dPrincipal' class='col-sm-6 noMeio'> 
				<% @mails.each do |mail| %>
				<div id='dInformacoes'>
		            <div id='<%= mail.subject %>'>

		                <div id='dInfID<%= mail.subject %>' class='col-sm-4 form-group darkGray tCentered'>
		                    <form class="col-sm-3" action="/emails/destroy/" method='POST'>
		                    	<button type='submit' id='dInfIDbtn2' name='email[id]' class='btn btn-default' value='<%= mail.subject %>'>
		                    		<span class='glyphicon glyphicon-trash'></span>
		                    	</button>
		                    </form>

		                    <form class="col-sm-1" action="/emails/inbox/" method='GET'>
		                    	<button type='submit' id='dInfIDbtn2' name='email[id]' class='btn btn-default' value='<%= mail.subject %>'>
		                    		<span class='glyphicon glyphicon-check'></span>
		                    	</button>
		                    </form>
		                </div>

		                <div id='dInfNome<%= mail.subject %>' class='col-sm-7 form-group darkGray'><%= mail.subject %></div>
		            </div>
		    	</div>
				<% end %>

				<form action="/emails/inbox/" method="GET">
						<input name="email[fim]" type="hidden" value="<%= @fim.to_i %>"/>
						<input name="email[id]" type="hidden" value="<%= @email_id %>"/>
						<input class="btn btn-default" type="submit" value="Próximo"/>
				</form>

				<form action="/emails/" method="GET">
					<input class="btn btn-default" type="submit" value="menu"/>
				</form>
			</div>

		</center>
	</body>
</html>
