<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Emails</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <%= javascript_include_tag "funcoes" %>
		
        <script src='/assets/vendors/jquery.min.js' language='javascript'></script>
        <script src='/assets/vendors/bootstrap.min.js' language='javascript'></script>

		<%= stylesheet_link_tag "application", media: "all" %>
		<%= stylesheet_link_tag "estilos", media: "all" %>
	</head>
	<body>
	<center>

			<%= render "shared/menu" %>
			
			<h3>
				Você é <%= @user_name %>
			</h3>
		<div id='dPrincipal' class='col-sm-6 noMeio'> 
            <div id='dCabecalho' class='col-sm-12'>
                <div id='dValorID' class='col-sm-2'>
                    <form action="/emails/new" method="post">
                    	<label>ID</label><br>
                        <input type='submit' value='Add' class='btn btn-default form-control numaLinha se'>
                        <input type='text' id='FtxtNome' name='email[email]' class='botaoDepois numalinha' required style="visibility:hidden; position: absolute;" />
                        <input type='text' id='FtxtSenha' name='email[senha]' class='form-control botaoDepois numalinha' required style="visibility:hidden; position: absolute;" />
                        <input type='text' id='FtxtSenha' name='email[user_id]' class='form-control botaoDepois numalinha' required style="visibility:hidden; position: absolute;" 
                        value="<%= session[:user_id] %>" />
                    </form>
                </div>
                <div id='dValorNome' class='col-sm-7 form-group'>
                    <form action="\emails\" method="GET">
                        <label for='txtNome'>Nome:</label><br>
                        <input type='text' id='txtNome' name='email[email]' onchange='mudarNome()' class='form-control botaoDepoisNome numalinha' />
                        <button type='submit' class='btn btn-default form-control botaoAntes numalinha'><span class=' glyphicon glyphicon-search'></span></button>
                    </form>
                </div>
                <div id='dValorSenha' class='col-sm-3 form-group'>
	                <form>
	                	<label for='txtSenha'>Senha:</label><br>
	                    <input type='password' id='txtSenha' name='txtSenha' onchange='mudarSenha()' class='form-control botaoDepoisSenha numalinha' />
	                </form>
                </div>
            </div>
		
			<%  %>

			<% @emails.each do |email| %>
				<div id='dInformacoes'>
		            <div id='dInf<%= email.id %>'>
		                <div id='dInfID<%= email.id %>' class='col-sm-5 form-group darkGray tCentered'>
		                    <form action="" method='POST'>
		                    	<button type='submit' id='dInfIDbtn2' name='del' class='btn btn-default' value='<%= email.id %>'>
		                    		<span class='glyphicon glyphicon-trash'></span>
		                    	</button>&ensp; <%= email.id %>
		                    </form>
		                </div>
		                <div id='dInfNome<%= email.id %>' class='col-sm-7 form-group darkGray' ondblclick='apareceInputX(
<%= email.id %>)'><%= email.email %></div>
		            </div>
		    	</div>
			<% end %>

			<form action="/emails/exit" method="POST">
					<input class="btn btn-default" type="submit" value="Sair"/>
			</form>

		</center>
		</div>
	</body>
</html>
